
*.vo
*.vos
*.vok
*.glob
.lia.cache
.*.aux

*.crashcoqide
*~

.#*

_build/
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.cmxs
*.o
*.a

.vs/
bin/
obj/
*.user
*.suo

.DS_Store
Thumbs.db